<div class="card">
  <div class="card-header">Jusu uzduotys</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let task of taskContainer;let n=index">
<!--   <app-task-item ></app-task-item>-->
        <button class="btn btn-primary float-end" (click)="deleteTask(n)">Preke nupirkta</button>
        <a  [routerLink]="['update',n]"  class="btn btn-success float-end me-2">Redaguoti uzduoti</a>
        <strong>{{n+1}}.  {{task?.task}}</strong> Prioritetas:<strong class="bg-warning">{{task?.type}}</strong>
      </li>

    </ul>
  </div>
</div>
<app-task-statistics></app-task-statistics>

<!--<&#45;&#45;[task]="task" [index]="n" (deleteTask)="deleteTask($event)"&ndash;&gt;-->



